:root {

    --left-width: 31vw;
    --right-width: 69vw;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Roboto, monospace;
}

.site-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

}

.left-side {
    /* border: 1px solid red; */
    width: var(--left-width);
    height: 100vh;

    /* background: violet; */
    background-color: #254045;
    background-image: url(/images/angele-kamp--OQbUQce54k-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}


.logo-strip {
    /* border: 2px solid green; */
    background: rgba(0, 0, 0, 0.4);
    /* opacity: 0.5; */
    width: var(--left-width);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 26vh;
}

.logo {

    height: 5rem;
    width: auto;
}

.logo-text {
    font-size: 4rem;
    color: white;
}

.artist-credit {
    margin-bottom: 0.2rem;
    color: white;
}

.right-side {
    /* background: black;
    color: white; */
    /* border: 1px solid blue; */
    background: #f8f9fa;
    width: var(--right-width);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;



}


.top {
    /* margin-top: 5rem; */
    /* border: 1px solid purple; */
    padding-left: 3rem;
    font-size: 1.2rem;
    width: 32rem;
}
.accent-text {
    color: hsl(189, 31%, 50%);
}
.middle h1 {
    color: #254045;
}

.middle h1,
.middle form {
    padding-left: 3rem;

}

.middle {
    background: white;
    /* border: 1px solid purple; */
    box-shadow: 0.5rem 0.5rem 0.5rem hsl(189, 30%, 71%);
}

form {
    /* border: 1px solid green; */
    display: flex;
    flex-flow: row wrap;
    width: 32rem;

}

.input-block {
    /* border: 1px solid orange; */
    width: 16rem;
    margin-bottom: 1rem;
}

input {
    appearance: none;
    border: 2px solid hsl(189, 31%, 50%);


    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    font-family: inherit
}


input:active {
    border: 2px solid hsl(189, 30%, 21%);

}

label {
    display: block;
    /* margin-bottom: 0.5rem; */
    font-size: 0.9rem;
}

.bottom {
    position: relative;
    bottom: 3rem;
    padding-left: 3rem;
    /* border: 1px solid purple; */
}
button {
    padding: 0.5rem 1rem;
    border-radius: 5px;

    background-color: #254045;
    color: white;
    font-size: 1.2rem;
    
}
a {
    text-decoration: none;
    color: #254045;
}
a:hover {
    color: hsl(189, 31%, 50%);
}
